@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>My contact information</h3>

<address>
    19 Fairmont Ave.<br />
    Ardsley, NY 10502<br />
    <abbr title="Phone">P:</abbr>
    646.372.9119
</address>

